@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #15657c !important;
}

.title {
  font-size: 28px;
  font-family: "Bitter", serif;
  font-weight: 700;
  color: #15657c;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.topbar {
  border-bottom: 1px solid #6c757d;
}

.searchbar input {
  border-radius: 10px;
  border: 1px solid #15657c;
  width: 300px;
  padding: 0 10px;
}

.user-account-login {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.user-account-login span {
  font-size: 14px;
}

.navbar {
  background: #15657c;
}
.navbar ul li a {
  font-weight: 500;
  color: #fff;
}
.navbar ul li a:hover {
  color: #ffc107;
}
.navbar a.active {
  color: #15657c !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.hero-image {
  background-image: url(./image/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.product-banner {
  margin-top: 85px;
}

.category-card .card-body a {
  text-decoration: none;
}
.category-card .card-image {
  overflow: hidden;
}
.category-card .card-image img {
  width: 100%;
  height: 100%;
}
.category-card .card-image img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.offer-banner {
  background: url(./image/offer-banner.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffc107;
  text-align: center;
  margin-top: 115px;
}
.offer-banner h4,
.offer-banner h3 {
  font-size: 60px;
}

.product-tab ul {
  padding: 30px 0;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
}
.product-tab ul li {
  list-style: none;
}

.subscribe-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 524px;
  margin: 130px 0;
}
.subscribe-section-image img {
  background-size: cover;
  width: 100%;
}
.subscribe-section-text {
  text-align: center;
  width: 30% !important;
}
.subscribe-section-text p {
  font-size: 12px;
}
.subscribe-section-text input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #6c757d;
  padding: 5px 10px;
}
.subscribe-section-text span {
  color: #15657c;
  font-weight: 700;
}

.footer-top-image {
  background: url(./image/Footer.png);
  background-size: cover;
  height: 236.02px;
  width: 100%;
}

.footer {
  background-color: #1e262a;
  padding-top: 50px;
  text-align: left;
  color: #fff;
}
.footer-content .footer-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-content .footer-text ul {
  padding: 0;
}
.footer-content .footer-text ul a {
  text-decoration: none;
  color: #fff;
}
.footer-content .footer-text ul a:hover {
  color: #ffc107;
}
.footer-content .footer-text ul li {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  line-height: 2;
  font-weight: 200;
}
.footer-content .footer-social {
  display: flex;
  justify-content: space-between;
}
.footer-content .footer-social ul {
  padding: 0;
}
.footer-content .footer-social ul li {
  list-style: none;
  display: inline;
}
.footer-content .footer-social ul a {
  text-decoration: none;
  color: #fff;
}
.footer-content .footer-social ul a:hover {
  color: #ffc107;
}
.footer-content hr {
  margin: 0;
}
.footer-content .copyright-text {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */